{% load static %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'base.css' %}" rel="stylesheet">
    <title>HMM University</title>
</head>
<body>
<div align="right" class="navigate">
    <a href="{% url 'start' %}">Start</a>  |   <a href="{% url 'show_all' %}">Show All</a>  |
    <a href="{% url 'rec_c' %}">Create</a>  |  <a href="{% url 'rec_r' %}">Retrieve</a>  |
    <a href="{% url 'rec_u' %}">Update</a>  |  <a href="{% url 'rec_d' %}">Delete</a>  |
</div>
<div class="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>