{% extends "base.html" %}

{% block content %}
<h2>Места</h2>
<table>
    {% for row in object_list %}
    <tr>
        <td width="80%">{{ row.place }}</td>
        <td width="10%">
            <form action="{% url 'places' %}del/{{ row.pk }}" method="get">
                <input value="Delete" type="submit">
                {% csrf_token %}
            </form>
        </td>
        <td width="10%">
            <form action="{% url 'places' %}upd/{{ row.pk }}" method="get">
                <input value="Edit" type="submit">
                {% csrf_token %}
            </form>
        </td>

    </tr>
    {% endfor %}
</table>
<div align="middle">
    <form action="{% url 'place_add' %}" method="get">
        <input value="Add" type="submit">
        {% csrf_token %}
    </form>
</div>
{% endblock %}
